.text-slate {
	color: $slate;
}

.text-slate-1 {
	color: $slate-1;
}

.text-slate-2 {
	color: $slate-2;
}

.text-slate-3 {
	color: $slate-3;
}

.text-slate-4 {
	color: $slate-4;
}

.text-slate-5 {
	color: $slate-5;
}

.text-slate-6 {
	color: $slate-6;
}

.text-slate-7 {
	color: $slate-7;
}

.text-slate-8 {
	color: $slate-8;
}

.text-slate-9 {
	color: $slate-9;
}

.text-red {
	color: $red;
}

.text-red-variant {
	color: $red-variant;
}

.text-orange {
	color: $orange-variant;
}

.text-orange-variant {
	color: $orange-variant;
}

.text-yellow {
	color: $yellow;
}

.text-yellow-variant {
	color: $yellow-variant;
}

.text-green {
	color: $green;
}

.text-green-variant {
	color: $green-variant;
}

.text-blue {
	color: $blue;
}

.text-blue-variant {
	color: $blue-variant;
}

.text-primary {
	color: $blue;
}

.text-primary-variant {
	color: $blue-variant;
}