.bg-slate {
	background-color: $slate;
}

.bg-slate-1 {
	background-color: $slate-1;
}

.bg-slate-2 {
	background-color: $slate-2;
}

.bg-slate-3 {
	background-color: $slate-3;
}

.bg-slate-4 {
	background-color: $slate-4;
}

.bg-slate-5 {
	background-color: $slate-5;
}

.bg-slate-6 {
	background-color: $slate-6;
}

.bg-slate-7 {
	background-color: $slate-7;
}

.bg-slate-8 {
	background-color: $slate-8;
}

.bg-slate-9 {
	background-color: $slate-9;
}

.bg-red {
	background-color: $red;
}

.bg-red-variant {
	background-color: $red-variant;
}

.bg-orange {
	background-color: $orange-variant;
}

.bg-orange-variant {
	background-color: $orange-variant;
}

.bg-yellow {
	background-color: $yellow;
}

.bg-yellow-variant {
	background-color: $yellow-variant;
}

.bg-green {
	background-color: $green;
}

.bg-green-variant {
	background-color: $green-variant;
}

.bg-blue {
	background-color: $blue;
}

.bg-blue-variant {
	background-color: $blue-variant;
}

.bg-primary {
	background-color: $blue;
}

.bg-primary-variant {
	background-color: $blue-variant;
}